
/*-----MENU-------*/

#mainmenu{
padding: 0;
margin: 0;
position: relative;
top: -40px;
left: 20px;
}

ul {
	list-style-type:none;
	margin: 0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
#mainmenu ul li {
	float: left;
	margin-right: 7px;
}

#mainmenu li:before {
content: " ~ ";
}

#mainmenu li:first-child:before {
content: none;
}

#mainmenu li:last { border-right: none }

/*Style for menu links*/
li a {
	color: #000;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
	color: #d31788;
}


body {
background: #ffffff;
text-align: left;
font-family: "helvetica neue";
font-size: 11pt;
}

/*----text stuff----*/
h1{
font-size: 30pt;
color: #2cd418;
padding: 20px;
font-weight:normal; 
}

h2{
font-size: 14pt;
left: 20px;
font-weight:normal; 
}

h1:hover {
opacity: 0.5;
}

p{
font-align: left;
color: black;
left: 20px;
}

a {
text-decoration: none;
outline: 0;
}

.images{
width:auto;
    padding-top:60px;
}

@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 100%;
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 25%;
      padding-bottom: 25%;
   }
}
