
body {
background: #ffffff;
text-align: left;
font-family: "helvetica neue";
font-size: 11pt;
}

header{
   padding-bottom: 60px;
}
/*-----MENU-------*/

#mainmenu{
padding: 0;
margin: 0;
position: relative;
top: -40px;
left: 20px;
}

ul {
	list-style-type:none;
	margin: 0;
	padding:0;
	position: absolute;
   overflow: hidden;
}

/*Create a horizontal list with spacing*/
#mainmenu ul li {
	float: left;
	margin-right: 7px;
}


/*Style for menu links*/
li a {
	color: #000;
   display: inline;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
	color: #FFBA15;
}

.active{
   background-color:#FFBA15;
   text-decoration: bold;
}

.active:hover{
  color: black;
}

/*----text stuff----*/
h1{
font-size: 30pt;
color: #FFBA15;
font-weight:normal;
display: inline; 
}

h2{
font-size: 14pt;
left: 20px;
font-weight:normal; 
}

p{
font-align: left;
color: black;
left: 20px;
}

a {
text-decoration: none;
outline: 0;
}

.images{
width:98%;
padding-top:10px;
}
